.advantages-gray {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-image: url("../img/triangle-white.svg");
  background-position: left top;
}

.advantages-gray__img {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages-gray {
    //width: 660px;
    padding-top: 75px;
    display: flex;
  }
  .advantages-gray__img {
    display: block;
  }

}
