.advantages {
  padding-top: 1px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .advantages {
    margin: 0;
    padding: 26px 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin: 0;
    padding: 60px 0 0;
  }
}
