.advantages-gray {
  padding: 0;
  margin: 0;
  margin-top: -18px;
  //background-size: 143%;
  position: relative;
  padding-top: 59px;
  background-color: #f2f2f2;
}

.advantages-gray__img {
  display: none;
}

.triangle-bg {
  background-color: #f2f2f2;
  //background-image: url("../img/triangle-white.svg");
  background-image: url("../img/bg-triangle-white.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.advantages-gray--container {
  max-width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .advantages-gray {
    padding-top: 86px;
    display: flex;
    background-position: left -66px;
    background-size: 100%;
    margin: 25px 0 0;
  }

  .advantages-gray__img {
    display: block;
    margin-top: -83px;
    margin-left: 10px;
  }

  .advantages-gray--container {
    max-width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages-gray__img {
    display: none;
  }

  .advantages-gray {
    padding: 0;
    margin: 0;
    background-position: left 0;
    background-size: 100%;
  }
}
