.advantages {
  padding-top: 1px;
  // width: 350px;
  display: flex;
  flex-direction: column;
}

.advantages-white {
  background-color: white;
  display: flex;
}

.advantages-white::after {
  display: block;
  position: absolute;
  content: " ";
  background-image: url("../img/triangle-white.svg");
  left: 62px;
  top: 76px;
}


@media (min-width: @tablet-width) {
  .advantages {
    margin: 0;
    padding: 26px 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages-white {
    margin: 0;
    padding: 0;
  }

  .advantages {
    margin: 0;
    padding: 60px 0 0;
  }
}
