.advantages-gray {
  padding: 0;
  margin: 0px;
  background-color: rgb(242, 242, 242);
   background-repeat: no-repeat;
  background-image: url("/source/img/triangle-white.svg");
  background-position: left top;

}
@media (min-width: @tablet-width) {
  .advantages-gray {
    //width: 660px;
    padding-top: 75px;
    display: flex;
  }
}
