.application__title {
  display: none;
}

.application {
  height: 593px;
  margin: 0;
  max-width: 1200px;
  background-image: url(/source/img/bg-back-mobile.jpg);
  background-color: rgb(41, 54, 70);
}
.application__in-touch {
  list-style: none;
  display: flex;
}

.application__android {
  list-style: none;
}

.application__apple {
  list-style: none;
}

.application__windows {
  list-style: none;
}
application__windows
@media (min-width: @tablet-width) {
  .application__title {
    display: block;
  }
}
