.btn-download {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  //background: 0;
  background-color: rgb(41, 54, 70);
  margin-top: 12px;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 25px;
  margin-left: 48px;
  width: 247px;
  margin-bottom: 34px;
}
