.copyright__by {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
  padding-right: 10px;
}

.copyright__logo {
  //display: flex;
  //margin-top: 8px;
  //justify-content: center;
  //align-items: center;
  fill: #d22856;
  //width: 33px;
  //height: 33px;
}

.copyright__logo:hover {
  fill: #283645;
}

.copyright__logo:active {
  fill: #bec2c7;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.copyright-active {
  margin-top: 8px;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-right: 9px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    margin-left: 43px;
  }

  .copyright__by {
    padding-right: 16px;
    margin-top: 0;
  }

  .copyright-active {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-top: 27px;
    margin-left: 18px;
  }

  .copyright__by {
    padding-right: 12px;
    font-size: 19px;
  }

  .copyright-active {
    margin-top: -4px;
  }
}
