.download {
  background-image: url("../img/bg-back-mobile.jpg");
  margin-bottom: 0;
  padding-top: 105px;
  background-color: #293646;
  background-position-y: -70px;
  background-position-x: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

.download__href {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 17px;
  padding-left: 39px;
  padding-right: 34px;
  background-color: #293646;
  /* margin-top: 31px; */
  border: 2px solid rgba(255, 255, 255);
  border-radius: 49px;
  /* margin-left: 2px; */
  /* width: 280px; */
  /* margin-bottom: 29px; */
  padding-top: 12px;
}

.download__btn:hover {
  background-color: #ffffff;
  color: #d22856;
}

.download__btn:active {
  color: #f1becc;
}

.download__bg {
  background-color: #293646;
  padding-bottom: 16px;
}

.download__container {
  max-width: 280px;
  margin: 0 auto;
  position: relative;
  margin-top: 46px;
}

.download__head {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  padding-top: 282px;
  margin-left: -5px;
  background-position-y: top;
  background-position-x: calc(48% - 25px);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}

.download__btn {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 17px;
  padding-left: 23px;
  padding-right: 20px;
  background-color: #293646;
  margin-top: 30px;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 25px;
  margin-left: 2px;
  width: 279px;
  margin-bottom: 18px;
  padding-top: 15px;
}

.download__title {
  display: none;
}

.download__in-touch {
  list-style: none;
  display: flex;
  width: 209px;
  justify-content: space-between;
  padding-left: 38px;
  margin-top: 53px;
}

.download-text {
  width: 230px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  padding-left: 27px;
  color: white;
}

.download__android {
  list-style: none;
}

.download__in-touch-apple {
  list-style: none;
}

.download__windows {
  list-style: none;
}

@media (min-width: @tablet-width) {
  .download {
    background-color: rgb(29, 38, 49);
    background-image: url("../img/bg-back-tablet@1x.jpg");
    padding-top: 0;
    background-repeat: no-repeat;
    background-position: center -112px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .download__title {
    display: block;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    width: 186px;
    padding-left: 58px;
    padding-right: 55px;
    margin-bottom: 44px;
    margin-top: 35px;
  }

  .download__in-touch {
    margin-left: 9px;
    margin-bottom: 30px;
    margin-top: 63px;
  }

  .download-text {
    width: 306px;
    font-size: 18px;
    padding-left: 0;
    padding-bottom: 75px;
    line-height: 1.4;
  }

  .download__container {
    max-width: 620px;
  }

  .download__bg {
    background-color: transparent;
  }

  .download__head {
    //padding-top: 49px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-color: transparent;
    background-position: left -21px bottom;
    height: auto;
    margin-top: 0;
    padding-top: 45px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .download__btn {
    background: transparent;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 0;
    border-radius: 30px;
    margin-left: 3px;
  }

  .download__href {
    background: transparent;
    padding-left: 49px;
    padding-right: 48px;
  }

  .download__in-touch__app {
    display: block;

    img {
      display: block;
    }

    &--android {
      padding: 5px 0 0 0;

      img {
        height: 50px;
      }
    }

    &--windows {
      padding: 6px 5px 0 0;

      img {
        width: 45px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .download__head {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    //background-position: calc (50% + 70px) 100%;
    height: auto;
    background-position: calc(48% - -70px) bottom;
    padding-top: 54px;
    padding-left: 3px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .download__container {
    max-width: 940px;
    margin-top: 0;
  }

  .download {
    background-color: rgb(29, 38, 49);
    background-image: url("../img/bg-back-desktop@1x.jpg");
    margin-bottom: 0;
    padding-top: 167px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .download__btn {
    padding-top: 14px;
    padding-bottom: 15px;
    width: 296px;
    margin-bottom: 52px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    padding-left: 1px;
    padding-right: 0;
    margin-top: 56px;

    border-radius: 25px;
    margin-left: 5px;
  }

  .download-text {
    width: 298px;
    font-size: 18px;
    line-height: 1.4;
    padding-left: 6px;
    margin-bottom: 32px;
  }

  .download__title {
    display: block;
    font-size: 49px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding-left: 33px;
    padding-right: 0;
    margin-bottom: 69px;
    margin-top: 0;
    width: 237px;
  }

  .download__in-touch {
    margin-bottom: 50px;
    padding-left: 43px;
    margin-top: 84px;
  }

  .download__href {
    background: transparent;
    //padding-left: 49px;
    padding-right: 29px;
    padding-left: 31px;
    font-size: 21px;
    padding-top: 9px;
    padding-bottom: 15px;
  }
}
