.foto-users__look {
  margin: 20px 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.foto-users__wrapper {
  padding: 25px 39px 29px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .foto-users__look {
    font-size: 18px;
    line-height: 1.8;
    width: 510px;
    padding-top: 45px;
    padding-left: 35px;
    padding-bottom: 21px;
    margin-top: 21px;
    margin-bottom: 25px;
    text-align: center;
    padding-right: 0;
    margin-right: 0;
    letter-spacing: 0.4px;
  }
}

@media (min-width: @desktop-width) {
  .foto-users__look {
    width: 606px;
    padding-top: 67px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 1px;
    line-height: 1.7;
  }
}
