.gray-list {
  //background-color: rgb(242, 242, 242);
  padding: 0;
  list-style: none;
  display: block;
  margin: 16px 0 0;
  flex: 0 0 100%;
  width: 100%;
}

.gray-list__img {
  display: none;
}

.gray-list--world {
  padding-top: 1px;
  padding-left: 39px;
}

.gray-list--friends {
  padding-top: 1px;
  padding-bottom: 3px;
}

@media (min-width: @tablet-width) {
  .gray-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -36px;
  }

  .gray-list--world {
    padding-top: 1px;
    padding-left: 21px;
  }
}

@media (min-width: @desktop-width) {
  .gray-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 18px;
    padding-left: 0;
  }

  .gray-list__img {
    padding-bottom: 54px;
    display: flex;
  }

  .gray-list--world {
    margin: 0 25px;
  }
}
