.gray-list {
  //background-color: rgb(242, 242, 242);
  padding: 0;
  list-style: none;
  display: block;
  margin: 16px 0 0;
  flex: 0 0 100%;
  width: 100%;
}

.gray-list__img {
  display: none;
}

.gray-list--world {
  padding-top: 1px;
  padding-left: 39px;
}

.gray-list--friends {
  padding-top: 1px;
  padding-bottom: 3px;
}

.gray-list__li {
  padding: 0;
  text-align: center;
  margin-bottom: 27px;
}

.gray-list__li-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #283645;
  width: 260px;
  padding: 0;
  margin: 0 auto;
  line-height: 1.75;
}

.gray-list__li-bold {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: black;
  margin: 0 0 9px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .gray-list {
    display: flex;
    width: 100%;
    margin-top: -16px;
    flex: 0 0 360px;
    max-width: 360px;
    flex-direction: column;

    &--world {
      padding-top: 1px;
      padding-left: 21px;
    }
  }

  .gray-list__li {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 40px;
    margin: 0 0 33px;
    width: 320px;
  }

  .gray-list__li-text {
    padding-left: 0;
    margin-bottom: 0;
    width: auto;
    text-align: left;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.2px;
  }

  .gray-list__li-bold {
    text-align: left;
    margin: 2px 0 6px;
  }

  .gray-list__li-bold--friends {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.71;
    text-align: left;
    padding-left: 8px;
    color: #283645;
    margin-bottom: 10px;
  }

  .gray-list__li-text--friends {
    width: 300px;
    text-align: left;
    padding-left: 0;
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.2px;
    margin-bottom: -20px;
  }
}

@media (min-width: @desktop-width) {
  .gray-list {
    max-width: 940px;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    flex-direction: row;
  }

  .gray-list--world {
    margin: 0 25px 0;
  }

  .gray-list__img {
    padding-bottom: 54px;
    display: flex;
  }

  .gray-list__li {
    display: block;
    width: 285px;
    //flex-wrap: wrap;
    //padding-right: 10px;
    position: relative;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    top: 0;
  }

  .gray-list__li-text {
    //display: flex;
    width: 233px;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    padding-left: 22px;
    padding-right: 16px;
    padding-top: 0;
  }

  .gray-list__li-bold {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    color: #283645;
    margin-top: 4px;
    margin-bottom: 23px;
  }

  .gray-list__li-bold--friends {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #283645;
    width: 230px;
    margin: 0 auto;
    margin-top: 5px;
    padding-bottom: 23px;
    padding-left: 0;
  }

  .gray-list__li-text--friends {
    width: 233px;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    padding-left: 20px;
    padding-right: 46px;
  }
}
