.gray-list {
  background-color: rgb(242, 242, 242);
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;

}

.gray-list__li-bold {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.gray-list__li-text {
  color: rgb(40, 54, 69);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .gray-list {
    display: flex;
    flex-wrap: wrap;
    //width: 660px;


  }

}

@media (min-width: @desktop-width) {
  .gray-list {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: space-between;
  }
}
