.gray-list__li {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .gray-list__li {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    padding-right: 10px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/09df9289-59ef-4834-986f-c3357ca3b2e8/d8hwgbp-8bdd3ed3-dc70-4b11-91d0-c377d924ad28.png");
  }

  .gray-list__li-text {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .gray-list__li {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    padding-right: 10px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/09df9289-59ef-4834-986f-c3357ca3b2e8/d8hwgbp-8bdd3ed3-dc70-4b11-91d0-c377d924ad28.png");
  }

  .gray-list__li-text {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
  }
}
