.like-block {
  padding-left: 18px;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .like-block-day {
    margin-left: auto;
    margin-right: 3.1em;
    margin-top: 0;
    padding-left: 19px;
  }

  .like-block {
    display: flex;
    align-items: center;
    padding-right: 32px;
    margin-top: auto;
    //padding-bottom: 0;
    //margin-top: 9px;
    //padding-bottom: 0px;
    padding-left: 14px;
  }

  .like-block__img {
    order: 1;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .like-block-day {
    margin-left: auto;
    margin-right: 3.1em;
    margin-top: -28px;
  }
}
