.look {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #283645;
  width: 253px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 32px;
  padding-left: 24px;
  padding-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .look {
    font-size: 18px;
    line-height: 1.8;
    width: 570px;
    padding-top: 72px;
    padding-left: 39px;
    padding-bottom: 56px;
  }
}

@media (min-width: @desktop-width) {
  .look {
    //padding-left: 170px;
    width: 606px;
    padding-top: 94px;
    padding-bottom: 85px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 1px;
  }
}
