.look {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #283645;
  width: 261px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 28px;
  padding-left: 18px;
  padding-bottom: 43px;
}

@media (min-width: @desktop-width) {
  .look {

    width: 534px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;
    color: #283645;
    /* width: 261px; */
    display: flex;
    padding-top: 57px;
    padding-left: 209px;
    padding-bottom: 41px;
    justify-content: center;
    align-items: center;
  }
}
