.main-wrapper {
  padding: 0;
  list-style: none;
  display: block;
  margin: 0 -10px;
}

.main-wrapper__container {
  padding: 0;
  margin-left: -21px;
}

@media (min-width: @tablet-width) {
  .main-wrapper__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
}

@media (min-width: @desktop-width) {
  .main-wrapper {
    display: flex;
    flex-wrap: wrap;
    //width: 1200px;
    margin: 0 -10px;
  }
}
