.main-footer--index {
  display: none;
}


.main-footer--hover {
  display: none;
}

.main-footer__logo:hover {
  .main-footer__pic {
    display: none;
  }

  .main-footer--hover {
    display: block;
  }
}


.main-footer__logo:active {
  .main-footer__pic {
    display: block;
    opacity: 0.3;
  }

  .main-footer--hover {
    display: none;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}

.main-footer__logo {
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .main-footer {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  .main-footer--index {
    display: flex;
  }

  .main-footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    margin-bottom: 0;
    margin-right: 34px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    margin: 0 auto;
    display: flex;
  }

  .main-footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    padding-left: 1px;
    margin-right: 56px;
    padding-top: 64px;
  }
}
