@media (min-width: @desktop-width) {
  body {
    background-color: rgb(41, 54, 70);
    background-size: 1391px auto;
  }
}

@media (min-width: @tablet-width) {
  body {
    background-color: rgb(41, 54, 70);
    background-size: 1178px auto;
  }
}
