.page-header {
  background-color: rgb(41, 54, 70);
  background-image: url("../img/icon-no.svg");
  background-position: right 40px top 30px;
  background-repeat: no-repeat;
}


.site-list__item--active {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.page-header__logo {
  height: 25px;
  padding: 20px;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 110px;
  }

  .page-header {
    display: flex;
  }
}
