.page-header {
  background-color: rgb(41, 54, 70);
  display: flex;
  flex-direction: column;
}

.site-list__item--active {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 110px;
  }
}
