.page-header {
  background-color: rgb(40, 54, 69);
  //
  //background-position: right 25px top 30px;
  background-repeat: no-repeat;
}

.page-header__close {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-no.svg");
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #283645;
  outline: none;
  border: none;
}

.site-list__item--active {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.page-header__logo {
  height: 25px;
  padding-top: 23px;
  padding-bottom: 21px;
  display: block;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 58px;
    padding-top: 28px;
    padding-left: 11px;
  }

  .page-header__close {
    top: 43px;
    right: 10px;
  }

  .page-header {
    background-position: right 25px top 46px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 147px;
    padding-bottom: 23px;
    padding-left: 0;
    padding-top: 26px;
  }

  .page-header {

    margin: auto;
    position: absolute;
    width: 100%;
    background-color: rgba(10, 11, 11, 30%);
  }

  .page-header__close {
    display: none;
  }
}
