.range-icon {
  text-decoration: none;
  text-align: center;
  list-style: none;
  position: relative;
  padding-left: 32px;
}

.range {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

.range-wrapper {
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin-left: 0;
  width: 240px;
  position: relative;
}

.range-wrapper::before {
  height: 2px;
  background-color: #283645;
  bottom: 0;
  right: 0;
  left: 17px;
  position: absolute;
  content: "";
  top: 89px;
}

.range-radius::after {
  position: absolute;
  width: 11px;
  height: 11px;
  border: 2px solid #d32e5b;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  content: "";
  top: 82px;
  right: 13px;
}

.range__img {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}

.range-fill {
  fill: #b5b9be;
}

.range-fill:hover {
  fill: #8d949b;
}

.range-buttom {
  margin-top: 57px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #485461;
}

.range__btn-pink {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 19px;
  padding-left: 23px;
  padding-right: 20px;
  background-color: #293646;
  margin-top: 37px;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 32px;
  width: 280px;
  padding-top: 15px;
}

.range__btn-gray {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 19px;
  padding-left: 23px;
  padding-right: 20px;
  background-color: #293646;
  margin-top: 11px;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 32px;
  margin-left: 0;
  width: 280px;
  margin-bottom: 18px;
  padding-top: 15px;
}

@media (min-width: @tablet-width) {
  .range__img {
    display: flex;
    flex-direction: row;
  }

  .range-icon {
    margin: 0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #485461;
    margin-left: 31px;
    text-align: start;
    text-decoration: none;
    list-style: none;
    position: relative;
    justify-content: flex-start;
    width: 300px;
    margin-bottom: 17px;
  }

  .range-icon::before {
    height: 2px;
    background-color: #283645;
    bottom: 40px;
    right: 0;
    left: 96px;
    position: absolute;
    content: "";
    /* top: -14px; */
    width: 178px;
  }

  .range-wrapper {
    position: static;
    flex-direction: column;
    margin-top: 32px;
    padding: 0;
    justify-content: flex-start;
    margin-left: 0;
    width: 304px;
    align-items: flex-start;
  }

  .range-buttom {
    border-top: none;
  }
}
