.site-list__item {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #485461;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  padding-top: 16px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.site-list__item--active {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.site-list__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .site-list__item {
    padding-top: 15px;
    padding-bottom: 16px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    border: none;
    letter-spacing: 0.4px;
    font-size: 18px;
    text-align: left;
    text-transform: none;
    font-weight: normal;
    margin: 0 0 0 80px;
    padding: 0;
    position: relative;
  }

  .site-list__photo {
    border: none;
    letter-spacing: 0.4px;
    font-size: 18px;
    text-align: left;
    text-transform: none;
    font-weight: normal;
    margin: 0 0 0 75px;
    padding: 0;
  }

  .site-list__item--active::before {
    height: 2px;
    background-color: white;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    content: "";
  }
}
