.table {
  background-color: #f2f2f2;
  padding-bottom: 36px;
}

.table-center {
  margin: 0 auto;
}

.wrapper-table {
  border-collapse: collapse;
  line-height: 1.1;
  margin-top: 3px;
  margin-bottom: 38px;
  overflow: hidden;
  margin-left: -377px;
}

.table__tarifs {
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.table__tarifs-flex {
  display: flex;
  padding-left: 18px;
  width: 233px;
  padding-right: 14px;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 15px;
}

.table__tarifs-cell {
  border: 2px solid #e5e5e5;
  background-color: white;
  color: #283645;
  font-size: 14px;
  //padding-top: 20px;
  font-weight: 300;
  //padding-bottom: 0;
  //padding-right: 11px;
}

.table__tarifs-row {
  font-style: normal;
  text-align: right;
}

.table__tarifs-name {
  position: relative;
  border: 2px solid #e5e5e5;
  background-color: #283645;
  border-left: 0;
}

.table__tarifs-hit {
  top: 2px;
  left: -9px;
  height: 64px;
  width: 89px;
  background-image: url("../img/bg-hit.svg");
  background-size: 89px 65px;
  position: absolute;
}

.table__tarifs-hit::before {
  content: "ХИТ";
  position: absolute;
  top: 16px;
  left: 8px;
  height: 35px;
  width: 64px;
  color: white;
  transform: rotate(-42deg);
  font-size: 13px;
}

.table-triangle {
  padding-top: 86px;
  display: flex;
  background-size: 100%;
  margin: 34px 0 0;
}

.table__tarifs-title {
  padding-top: 21px;
  padding-bottom: 11px;
  width: 274px;
  padding-left: 3px;
  font-size: 18px;
}

.table__tarifs-cost {
  padding-bottom: 21px;
  font-weight: normal;
  padding-left: 1px;
  font-size: 24px;
}

.table__tarifs-name--corner {
  border-color: transparent;
  background-color: transparent;
}

.table__tarifs-cell--caption {
  // width: 160px;
  padding-top: 11px;
  padding-bottom: 15px;
  text-align: left;
  padding-right: 0;
  padding-left: 15px;
}

.table__tarifs__mark {
  display: none;
}

.table__tarifs-mobile {
  display: flex;
  text-transform: uppercase;
  padding-left: 4px;
  white-space: nowrap;
  margin-right: auto;
}

.table-icon {
  text-align: center;
  margin-right: -6px;
}

@media (min-width: @tablet-width) {
  .table {
    padding-bottom: 0;
  }

  .table-icon {
    margin-right: 0;
  }

  .table__tarifs-flex {
    justify-content: center;
    padding-left: 0;
    width: auto;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .wrapper-table {
    margin-top: 0;
    margin-bottom: 68px;
    margin-left: 1px;
    max-width: 620px;
    box-sizing: border-box;
  }

  .table__tarifs-hit {
    top: 1px;
    left: -17px;
    height: 59px;
    width: 79px;
    background-size: 95px 62px;
  }

  .table__tarifs-hit::before {

    top: 10px;
    left: 13px;
    height: 35px;
    width: 64px;
  }


  .table__tarifs-cell {

    vertical-align: middle;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .table__tarifs-row {
    text-align: center;
  }

  .table__tarifs-name {
    padding-top: 21px;
  }


  .table-triangle {
    padding-top: 85px;
    margin: 13px 0 0;
  }

  .table__tarifs-title {
    padding-top: 0;
    padding-bottom: 0;
    width: 151px;
    padding-left: 0;
    font-size: 16px;
    text-align: center;
  }

  .table__tarifs-cost {
    padding-bottom: 14px;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
    padding-left: 4px;
  }

  .table__tarifs-cell--caption {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 28px;
  }


  .table__tarifs-mobile {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .table-triangle {
    margin: 7px 0 0;
    padding-top: 141px;
  }

  .table__tarifs-title {
    width: 231px;
    font-size: 18px;
  }

  .wrapper-table {
    margin-top: 0;
    margin-bottom: 95px;
    margin-left: 10px;
    max-width: 960px;
  }

  .table__tarifs-cell--caption {
    padding-top: 20px;
    padding-right: 69px;
    padding-left: 11px;
    padding-bottom: 19px;
  }

  .table__tarifs-name {
    padding-top: 24px;
  }

  .table__tarifs-cost {
    font-size: 24px;
    padding-bottom: 20px;
  }

  .table__tarifs-cell {
    font-size: 18px;
  }

  .table__tarifs-hit {
    top: 0;
    left: -14px;
    height: 73px;
    width: 97px;
    background-size: 102px 74px;
  }

  .table__tarifs-hit::before {
    top: 19px;
    left: 15px;
    height: 35px;
    width: 64px;
  }
}
