.table {
  background-color: #f2f2f2;
  padding-bottom: 36px;
}

.wrapper-table {
  border-collapse: collapse;
  line-height: 1.1;
  margin-top: 3px;
  margin-bottom: 30px;
  overflow: hidden;
  margin-left: -382px;
}

.table__tarifs {
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.table__tarifs-cell {
  border: 2px solid #e5e5e5;
  background-color: white;
  color: #283645;
  font-size: 14px;
  padding-top: 20px;
  font-weight: 300;
  padding-bottom: 0;
  padding-right: 11px;
}

.table__tarifs-row {
  font-style: normal;
  text-align: right;
}

.table__tarifs-name {
  position: relative;
  border: 2px solid #e5e5e5;
  background-color: #283645;
  border-left: 0;
}

.table__tarifs-hit {
  top: 1px;
  left: -10px;
  height: 57px;
  width: 71px;
  background-image: url("../img/bg-hit.svg");
  background-size: 85px 57px;
  position: absolute;
}

.table__tarifs-hit::before {
  content: "ХИТ";
  position: absolute;
  top: 7px;
  left: 8px;
  height: 35px;
  width: 64px;
  color: white;
  transform: rotate(-42deg);
  font-size: 13px;
}

.table-tringle {
  padding-top: 86px;
  display: flex;
  background-size: 100%;
  margin: 34px 0 0;
}

.table__tarifs-title {
  padding-top: 21px;
  padding-bottom: 11px;
  width: 251px;
  padding-left: 17px;
  font-size: 18px;
}

.table__tarifs-cost {
  padding-bottom: 21px;
  font-weight: normal;
  padding-left: 10px;
  font-size: 24px;
}

.table__tarifs-name--corner {
  border-color: transparent;
  background-color: transparent;
}

.table__tarifs-cell--caption {
  // width: 160px;
  padding-top: 11px;
  padding-bottom: 15px;
  text-align: left;
  padding-right: 0;
  padding-left: 15px;
}

.table__tarifs__mark {
  display: none;
}

.table__tarifs-mobile {
  display: flex;
  text-transform: uppercase;
  padding-left: 27px;
}

.table-img {
  text-align: center;
}


@media (min-width: @tablet-width) {
  .table {
    background-color: #f2f2f2;
    padding-bottom: 0;
  }

  .wrapper-table {
    border-collapse: collapse;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 61px;
    margin-left: 10px;
    max-width: 620px;
  }

  .table__tarifs {
    padding: 10px;

    color: white;
    text-transform: uppercase;
  }

  .table__tarifs-cell {
    border: 2px solid #e5e5e5;
    background-color: white;
    color: #283645;
    font-size: 14px;
    //padding-left: 15px;
    padding-top: 15px;
    //text-align: left;
    width: 150px;
    padding-right: 0;
    font-weight: 300;
  }

  .table__tarifs-row {
    font-style: normal;
    text-align: center;
  }

  .table__tarifs-name {
    position: relative;
    border: 2px solid #e5e5e5;
    background-color: #283645;
    border-left: 0;
  }

  .table__tarifs-hit {
    top: 1px;
    left: -10px;
    height: 57px;
    width: 71px;
    background-image: url("../img/bg-hit.svg");
    background-size: 85px 57px;
    position: absolute;
  }

  .table__tarifs-hit::before {
    content: "ХИТ";
    position: absolute;
    top: 7px;
    left: 8px;
    height: 35px;
    width: 64px;
    color: white;
    transform: rotate(-42deg);
    font-size: 13px;
  }

  .table-tringle {
    padding-top: 86px;
    display: flex;
    background-size: 100%;
    margin: 13px 0 0;
  }

  .table__tarifs-title {
    padding-top: 15px;
    padding-bottom: 11px;
    width: 124px;
    padding-left: 19px;
    font-size: 15px;
  }

  .table__tarifs-cost {
    padding-bottom: 15px;
    width: 153px;
    font-weight: normal;
    text-align: center;
  }

  .table__tarifs-name--corner {
    border-color: transparent;
    background-color: transparent;
  }

  .table__tarifs-cell--caption {
    // width: 160px;
    padding-top: 11px;
    padding-bottom: 15px;
    text-align: left;
    padding-right: 0;
    padding-left: 15px;
  }

  .table__tarifs__mark {
    display: none;
  }

  .table__tarifs-mobile {
    display: none;
  }

  .table-img {
    text-align: center;
  }
}
