.white-text {
  display: flex;
  width: 210px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .white-text {
    color: rgb(40, 54, 69);
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    width: 650px;
  }

  .white-text__tablet {
    margin-top: -44px;
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
}
