.wrapper-guest {
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-guest__name {
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
}

.wrapper-guest__time {
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
}

.wrapper-guest__comments {
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .wrapper-guest {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/09df9289-59ef-4834-986f-c3357ca3b2e8/d8hwgbp-8bdd3ed3-dc70-4b11-91d0-c377d924ad28.png");
  }

  .wrapper-guest__comments {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
  }
}
