.wrapper-day {
  display: block;
  position: relative;
}

.wrapper-day__panorama {
  position: absolute;
  top: 0;
  right: 21px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #d22856;
  text-transform: uppercase;
  padding: 6px 20px;
  font-family: "Open Sans", sans-serif;
}

.wrapper-day__first {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  width: 280px;
}

.wrapper-day__img {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .wrapper-day__img {
    width: 106%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .wrapper-day__panorama {
    top: 56px;
  }

  .wrapper-day__first {
    width: 620px;
    margin-top: -4px;
    padding-top: 0;
    display: flex;
  }

  .wrapper-day {
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper-day__first {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(242, 242, 242);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    width: 960px;
  }

  .wrapper-day {
    flex: 0 0 100%;
    margin-bottom: 29px;
  }

  .wrapper-day__img {
    width: 120%;
    position: relative;
    left: 48%;
    transform: translate(-50%);
  }

  .wrapper-day__panorama {
    top: 53px;
    right: 47px;
  }
}
