.wrapper-guest {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  margin-top: 19px;


  &__background {
    background-color: rgb(242, 242, 242);
    height: 100%;
  }
}

.wrapper-guest-like {

  padding-bottom: 19px;
}

.wrapper-guest__name {
  background-color: rgb(242, 242, 242);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
  margin-top: 12px;
  margin-bottom: 2px;
  padding-left: 20px;
}

.wrapper-day__first-time {
  background-color: rgb(242, 242, 242);
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
  text-transform: uppercase;
}

.wrapper-guest-heart {
  margin-right: 13px;
}

.wrapper-guest__comments {
  background-color: rgb(242, 242, 242);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
  margin-top: 0;
  padding-left: 20px;
  margin-bottom: 11px;
}

.wrapper-day__comments {
  font-size: 14px;
  line-height: 24px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .wrapper-guest {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px;
  }

  .wrapper-guest__background {
    display: flex;
    flex-direction: column;
  }

  .wrapper-guest__name {
    padding-top: 5px;
    padding-left: 27px;
  }

  .wrapper-guest__comments {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 262px;
    padding-left: 28px;
    margin-bottom: auto;
  }

  .wrapper-guest__comments2 {
    padding-bottom: 25px;
  }

  .wrapper-guest-like {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }

  .wrapper-guest-heart {
    order: 1;
    margin-left: 19px;
    margin-right: 0;
  }

  .wrapper-day__comments {
    order: 3;
    margin-top: -15px;
    padding-bottom: 12px;
    font-size: 14px;
    padding-top: 12px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper-guest {
    display: flex;
    margin-top: -2px;
    margin-bottom: 54px;
  }

  .wrapper-guest__comments {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 28px;
    margin-bottom: 0;
    padding-right: 10px;
  }

  .wrapper-day__comments {
    width: auto;
  }

  .wrapper-guest-like {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .wrapper-guest__name {
    padding-top: 8px;
  }
}
