.wrapper-day {
  display: block;
  position: relative;
  //max-width: 1200px;
  //background-color: rgb(242, 242, 242);
  margin-bottom: 20px;
  //margin-right: 20px;
}

.wrapper-day__panorama {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #d22856;
  text-transform: uppercase;
  padding: 6px 20px;
  font-family: "Open Sans", sans-serif;
}

.wrapper-day__first {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(242, 242, 242);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-top: -4px;
}

.wrapper-day__img {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .wrapper-guest__name--day {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .wrapper-day__first {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(242, 242, 242);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    width: 960px;
  }
}
