.wrapper-user {
  background-color: rgb(29, 38, 49);
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 172px;
  margin: 0 auto;
}
