body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @desktop-width) {
  body {
    background-size: 960px auto;
  }
}

@media (min-width: @tablet-width) {
  body {
    background-size: 660px auto;
  }
}
